include layout

block head
	link(rel='stylesheet' href='/css/compare.css')

block body
	.box-container
		.box
			iframe(src='/original')
		.box
			iframe(src='/optimized')
	a(href='https://github.com/vzhou842/faster.js-demo' target='_blank')
		img(style='position: absolute; top: 0; right: 0; border: 0;' src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png' alt='Fork me on GitHub')
