include layout

block head
	script(src=`bundle-${(optimized ? 'optimized' : 'original')}.js` async)

block body
	title= `faster.js Example${optimized ? ' (Optimized)' : ''}`
	canvas(width=800 height=600)#canvas
	p#first-100-label
	p#first-500-label
	p#first-1000-label
