include layout

block head
	script(src=`bundle-${(optimized ? 'optimized' : 'original')}.js` async)

block body
	h1= `faster.js Example${optimized ? ' (Optimized)' : ''}`
	canvas(width=800 height=600)#canvas
