include layout

block head
	link(rel='stylesheet' href='/css/main.css')


block body
	title= `faster.js Demo${optimized ? ' (Optimized)' : ''}`
	center
		h1.
			#{optimized ? 'With' : 'Without'} #[a(href='https://github.com/vzhou842/faster.js' target='_blank') faster.js]
		div.relative
			canvas#canvas
			div.stats-container
				p#stats-render
				p#stats-avg-time
		p#live-update-label
	script(src=`bundle-${(optimized ? 'optimized' : 'original')}.js` async)
