include layout

block head
	script(src=`bundle-${(optimized ? 'optimized' : 'original')}.js` async)
	link(rel='stylesheet' href='/css/main.css')


block body
	title= `faster.js Demo${optimized ? ' (Optimized)' : ''}`
	center
		h1= optimized ? 'With faster.js' : 'Without faster.js'
		div.relative
			canvas#canvas
			div.stats-container
				p#stats-render
				p#stats-avg-time
		p#live-update-label
