body {
	margin: 0;
}

.box-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: horizontal;
}

.box {
	flex: 1;
}

iframe {
	border: 1px solid black;
	width: 100%;
	height: 100%;
}
