* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
}

h1 {
	margin: 10px;
}

p {
	margin: 5px;
}

.relative {
	position: relative;
}

.stats-container {
	position: absolute;
	padding: 3px;
	top: 0;
	left: 0;
	border-bottom-right-radius: 3px;
	background-color: black;
}

.stats-container p {
	color: white;
	font-size: 13px;
	margin: 1px;
}